ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a4645;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px 35px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #22a31c;
}
.header {
	width: 100%;
	height: 210px;
	display: block;
	background-color: #22a31c;
}
.img-container-block {
	text-align: center;
}