<html lang="en">
<head>
    <title>WELCOME TO VIRTUALGYM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stile1pagina.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="white">
</head>
<body>
<audio autoplay>
  <source src="" type="audio/mp3">
</audio>
<div class='header'>
<div class='sinistra'>
<h6>Per ulteriori informazioni contattateci: <a href= "mailto:virtualgym1998@libero.it">virtualgym1998@libero.it</a></h6>
<br>
    <h6>Sei nuovo? Registrati <button type="button" class='registrati' onclick="location.href='/registrazione'">Registrati</button>
        <br>
        altrimenti <button type="button" class='login' onclick="location.href='/login'" >Accedi</button></h6></div>
    <div class="img-container-block" >
<img src="{{ url_for('static', filename='image/logo_virtualgym.png') }}">
</div>
</div>


<p> <ul>
  <li><a  href="/"><h1>HOME</h1></a></li>
  <li><a href="/orari"><h1>ORARI</h1></a></li>
  <li><a href="/aboutus"><h1>ABOUT US</h1></a></li>
</ul> </p>

<div class=''>
 <img src="{{ url_for('static', filename='image/live_zoom1.jpeg') }}" alt="Workplace" usemap="#workmap" >
<map name="workmap">
  <area shape="default" alt="live_zoom" href="https://us05web.zoom.us/j/5853611558?pwd=cnVzRUMyM2wwMkJYTks3bWZyTDV5QT09">
</map> 
<img src="{{ url_for('static', filename='image/scheda_esercizi1.jpg') }}" alt="Workplace" usemap="#workmap1" >
<map name="workmap1">
  <area shape="default" alt="esercizi" href="/schede">
  </map>
  <img src="{{ url_for('static', filename='image/calcolo_peso.png') }}" alt="Workplace" usemap="#workmap2" >
<map name="workmap2">
  <area shape="default" alt="calcolo_peso_forma" href="/calcolo">
  </map>
  <img src="{{ url_for('static', filename='image/video.png') }}" alt="Workplace" usemap="#workmap3" >
<map name="workmap3">
  <area shape="default" alt="video" href="/video">
  </map>
</div>
<br>
<hr>
<footer>
<small><p style="text-align:center;">
    COPYRIGHT © mario de leo vincenzo terracciano salvatore de rosa
</p>
    <br>
    <p style="text-align:center;">
    studenti dell'università parthenope
    </p>
</small>
</footer>
<script src="main.js"></script>
</body>
</html>