<!DOCTYPE html>
<html lang="en">
<head>
<title>LOG IN</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="/login" method="POST">
<div class="container">
	{% if succ == 0 %}<p> Password non corretta</p>{% endif %}
<h1>Accesso</h1>
<hr>
<label for="email"><b>Email</b>
</label>
<input type="text"
placeholder="Inserire Email"
name="email" id="email" required>
<label for="psw"><b>Password</b>
</label>
<input type="password"
placeholder="Inserire password"
name="psw" id="psw" required>
<hr>
<button type="submit"
class="registerbtn">Accedi</button>
</div>
<div class="container signin">
</div>
</form>
</body>
</html>