<!DOCTYPE html>
<html lang="en">
<head>
<title>REGISTRAZIONE</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='Prova_registrazione.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="/registrazione" method="POST">
<div class="container">
<h1>Registrazione</h1>
<p>Perfavore riempi gli spazi vuoti per creare l'account.</p>
<hr>
<label for="email"><b>Email</b>
</label>
<input type="text"
placeholder="Inserire Email"
name="email" id="email" required>
<label for="psw"><b>Password</b>
</label>
<input type="password"
placeholder="Inserire password"
name="psw" id="psw" required>
<label for="psw-repeat">
<b>Repeat Password</b></label>
<input type="password"
placeholder="Ripetere password"
name="psw-repeat" id="psw-repeat"
required>
<hr>
<p>Creando un account accetti di diventare un terracin
della nostra palestra <a href="#">Termini e Privacy</a>.</p>
<button type="submit"
class="registerbtn">Register</button>
</div>
<div class="container signin">
</div>
</form>
</body>
</html>