<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='scheda_esercizi.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>SCHEDE ESERCIZI</title>
</head>
<body>
<div class='header'>
  <div class="img-container-block" >
    <img src="{{ url_for('static', filename='image/logo_virtualgym.png') }}" alt="logo">
  </div></div>
<hr>
<p> <ul>
  <li><a  href="/"><h1>HOME</h1></a></li>
  <li><a href="/orari"><h1>ORARI</h1></a></li>
  <li><a href="/aboutus"><h1>ABOUT US</h1></a></li>
</ul> </p>
<hr>
<p><h1>Questa è la sezione "schede esercizi", in questa sezione le schede si divideranno in varie categorie, prima di scaricarle si prega di controllare l'apposita sezione prima pero calcolati il tuo peso bmi  <a href="calcolo_peso.html">QUI</a></h1></p>
<div>
<div class="destra">
<button type="button" class="collapsible">SCHEDE DONNA ALLENAMENTO LIBERO</button>
<div class="content">
  <a href="Scheda%20Allenamento%20-%20Aumento%20massa%20muscolare%20(donna%20sottopeso-sottopesograve).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word" width="140" height="142" >
  </a>
  <a href="Scheda%20Allenamento%20-%20Crescita%20musculare%20(donna%20normale).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word1" width="140" height="142">
  </a>
<a href="Scheda%20Allenamento%20-%20Rassodamento%20muscolare%20(donna%20obeso).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word2" width="140" height="142">
</a>
</div>
<br>
<button type="button" class="collapsible">SCHEDE DONNA ALLENAMENTO CON ATTREZZI</button>
<div class="content">
  <a href="Scheda%20Allenamento%201%20(donna)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word" width="140" height="142" >
  </a>
  <a href="Scheda%20Allenamento%202%20(donna)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word1" width="140" height="142">
  </a>
<a href="Scheda%20Allenamento%203%20(donna)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word2" width="140" height="142">
</a>
</div>
</div>

<div class="sinistra">
<button type="button" class="collapsible">SCHEDE UOMO ALLENAMENTO LIBERO</button>
<div class="content">
<a href="Scheda%20Allenamento%201%20(uomo).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word3" width="140" height="142">
</a>
<a href="Scheda%20Allenamento%202%20(uomo).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word4" width="140" height="142">
</a>
<a href="Scheda%20Allenamento%203%20(uomo).docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word5" width="140" height="142">
</a>
</div>
<br>
<button type="button" class="collapsible">SCHEDE UOMO ALLENAMENTO CON ATTREZZI</button>
<div class="content">
<a href="Scheda%20Allenamento%201%20(uomo)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word3" width="140" height="142">
</a>
<a href="Scheda%20Allenamento%202%20(uomo)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word4" width="140" height="142">
</a>
<a href="Scheda%20Allenamento%203%20(uomo)%20attrezzi.docx" >
  <img src="{{ url_for('static', filename='image/word.png') }}" alt="word5" width="140" height="142">
</a>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
  <small><p style="text-align:center;">
    COPYRIGHT © mario de leo vincenzo terracciano salvatore de rosa
  </p>
    <br>
    <p style="text-align:center;">
      studenti dell'università parthenope
    </p>
  </small>
</footer>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}

</script>
</body>
</html>