<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIMOSTRAZIONE ESERCIZI</title>
	
</head>
<body> 
<div class='header'>
    <div class="img-container-block" >
        <img src="{{ url_for('static', filename='image/logo_virtualgym.png') }}" alt="logo">
    </div></div>
<hr>
</hr>
<p> <ul>
  <li><a  href="/"><h1>HOME</h1></a></li>
  <li><a href="/orari"><h1>ORARI</h1></a></li>
  <li><a href="/aboutus"><h1>ABOUT US</h1></a></li>
</ul> </p>
<hr>
</hr>
<div style align="center">
    <div>
    <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button>
        <br>
  <video id="video1" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
    <button onclick="makeBig1()">Big</button>
  <button onclick="makeSmall1()">Small</button>
  <button onclick="makeNormal1()">Normal</button>
        <br>
  <video id="video2" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
    <button onclick="makeBig2()">Big</button>
  <button onclick="makeSmall2()">Small</button>
  <button onclick="makeNormal2()">Normal</button>
        <br>
    <video id="video3" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
         <button onclick="makeBig3()">Big</button>
  <button onclick="makeSmall3()">Small</button>
  <button onclick="makeNormal3()">Normal</button>
        <br>
    <video id="video4" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
         <button onclick="makeBig4()">Big</button>
  <button onclick="makeSmall4()">Small</button>
  <button onclick="makeNormal4()">Normal</button>
        <br>
    <video id="video5" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig5()">Big</button>
  <button onclick="makeSmall5()">Small</button>
  <button onclick="makeNormal5()">Normal</button>
        <br>
    <video id="video6" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig6()">Big</button>
  <button onclick="makeSmall6()">Small</button>
  <button onclick="makeNormal6()">Normal</button>
        <br>
    <video id="video7" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig7()">Big</button>
  <button onclick="makeSmall7()">Small</button>
  <button onclick="makeNormal7()">Normal</button>
        <br>
    <video id="video8" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig8()">Big</button>
  <button onclick="makeSmall8()">Small</button>
  <button onclick="makeNormal8()">Normal</button>
        <br>
    <video id="video9" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig9()">Big</button>
  <button onclick="makeSmall9()">Small</button>
  <button onclick="makeNormal9()">Normal</button>
        <br>
    <video id="video10" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
         <button onclick="makeBig10()">Big</button>
  <button onclick="makeSmall10()">Small</button>
  <button onclick="makeNormal10()">Normal</button>
        <br>
    <video id="video11" width="420" controls>
    <source src="" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        </div>

</div> 
<script> 
var myVideo = document.getElementById("video1");

function makeBig() {
    myVideo.width = 560;
}

function makeSmall() {
    myVideo.width = 320;
}

function makeNormal() {
    myVideo.width = 420;
}
var myVideo1 = document.getElementById("video2");

function makeBig1() {
    myVideo1.width = 560;
}

function makeSmall1() {
    myVideo1.width = 320;
}

function makeNormal1() {
    myVideo1.width = 420;
}
var myVideo2 = document.getElementById("video3");

function makeBig2() {
    myVideo2.width = 560;
}

function makeSmall2() {
    myVideo2.width = 320;
}

function makeNormal2() {
    myVideo2.width = 420;
}
var myVideo3 = document.getElementById("video4");

function makeBig3() {
    myVideo3.width = 560;
}

function makeSmall3() {
    myVideo3.width = 320;
}

function makeNormal3() {
    myVideo3.width = 420;
}
var myVideo4 = document.getElementById("video5");

function makeBig4() {
    myVideo4.width = 560;
}

function makeSmall4() {
    myVideo4.width = 320;
}

function makeNormal4() {
    myVideo4.width = 420;
}
var myVideo5 = document.getElementById("video6");

function makeBig5() {
    myVideo5.width = 560;
}

function makeSmall5() {
    myVideo5.width = 320;
}

function makeNormal5() {
    myVideo5.width = 420;
}
var myVideo6 = document.getElementById("video7");

function makeBig6() {
    myVideo6.width = 560;
}

function makeSmall6() {
    myVideo6.width = 320;
}

function makeNormal6() {
    myVideo6.width = 420;
}
var myVideo7 = document.getElementById("video8");

function makeBig7() {
    myVideo7.width = 560;
}

function makeSmall7() {
    myVideo7.width = 320;
}

function makeNormal7() {
    myVideo7.width = 420;
}
var myVideo8 = document.getElementById("video9");

function makeBig8() {
    myVideo8.width = 560;
}

function makeSmall8() {
    myVideo8.width = 320;
}

function makeNormal8() {
    myVideo8.width = 420;
}
var myVideo9 = document.getElementById("video10");

function makeBig9() {
    myVideo9.width = 560;
}

function makeSmall9() {
    myVideo9.width = 320;
}

function makeNormal9() {
    myVideo9.width = 420;
}
var myVideo10 = document.getElementById("video11");

function makeBig10() {
    myVideo10.width = 560;
}

function makeSmall10() {
    myVideo10.width = 320;
}

function makeNormal10() {
    myVideo10.width = 420;
}


</script> 
</body>
</html>